@import '~bootstrap/scss/bootstrap';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/sectionCards.scss';
@import 'partials/moreInfo.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}